// Include any default variable overrides here (though functions won't be available)

// Path to file bootstrap.scss, which imports all the moduls
@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

// Abstracts
@import "./abstracts/variables";
@import "./abstracts/mixins";

// Components
@import "./components/navbar";
@import "./components/home";
@import "./components/entry";
@import "./components/no-entry";
@import "./components/pronunciations";
@import './components/sidebar';
@import "./components/footer";

div, header, section, main, footer{
    // border: 1px solid greenyellow;
} 

body{
    font-family: "Bitter", serif;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    a{
        color: $themeColor;
    }

    .main-wrapper{
        margin-bottom: 20px;
        
        @include tablet-up{
            margin-top: 20px;
        }

        .sidebar-wrapper{
            @include tablet-down{
                padding: 0;
            }
        }
    }
}

#list-example{
    position: sticky;
    top: 0;
}