// Include any default variable overrides here (though functions won't be available)

// Path to file bootstrap.scss, which imports all the moduls
@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import "./components/entry";
@import './components/sidebar';
@import "./components/footer";

div, header, section, main, footer{
    border: 1px solid forestgreen;
} 

body{
    font-family: "Bitter", serif;
    box-sizing: border-box;
    position: relative;
}

#list-example{
    position: sticky;
    top: 0;
}