[id^="entry-"]{
    position: relative;
    margin-top: 20px;

    .source-link{
        margin-left: .5rem;
        font-size: .8rem;
    }

    .meaning-item{
        padding-top: 10px;

        .meaning-example{
            font-style: italic;
    
            .searched-word{
                border-bottom: dashed;
                border-color: $lightgrey;
            }
        }
    }

    .grammar-class{
        color: $themeColor;
    }

    .grammar-class,
    .synonyms-heading,
    .antonyms-heading{
        margin-top: 20px;
    }

    .synonyms-list,
    .antonyms-list{
        display: flex;
        flex-wrap: wrap;
    }

    .synonym-item,
    .antonym-item{
        margin: 0 .25rem .25rem 0;
        padding: .25rem;

        &::after{
            content: "|";
            display: inline;
            margin-left: .5rem;
            color: $lightgrey;
        }
    }

    

}

