.navbar{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    min-height: 70px;

    background-color: $black;

    .navbar-wrapper{
        width: 100%;
        align-items: center;

        .title{
            margin-bottom: 0;

            a{
                color: white;
                text-decoration: none;
            }
        } 
        
        .searchbar{
            display: flex;
            justify-content: start;

            @include phone-up{
                justify-content: end;
            }

            @include phone-down{
                margin:{
                    top: 10px;
                    bottom: 10px;
                }
            }
    
            .search-btn{
                min-width: auto !important;
                margin-left: 5px;
                font-size: medium;
                font-weight: 400;
                background-color: $themeColor;
                border: none;
            }
        }
    }

    
}