.navbar{
    display: flex;
    
    .searchbar{
        display: flex;
        justify-content: end;

        .search-btn{
            min-width: auto !important;
            margin-left: 5px;
        }
    }
}