#no-entry{
    padding-top: 50px;

    .error-message{
        font-size: larger;
        font-weight: bold;
    }

    .wiki-logo{
        // width: 85%;
        margin: auto;
        display: block;
        filter: opacity(0.3) grayscale(1);

        @include desktop-up{
            position: absolute;
            top: 8vh;
            z-index: -1;
        }

        @include desktop-down{
            width: 45%;
        }
    }
}