#sidebar{
    position: sticky;
    top: 100px;

    padding-top: 10px;
    border-radius: 0;

    @include tablet-down{
        flex-direction: row;
        box-shadow: 2px 2px 20px #ccccccb0;
    }

    .list-group-item{
        color: $blue;
        @include tablet-down{
            border-top: 0;
        }
    }
}